<h2>Evening</h2>

<form ng-submit="submitForm('/evening2')">
<label>How do you feel right now?</label>

<h3 class="input-view">{{mood}}</h3>
<input type="range" ng-model="mood" min="-5" max="5" step="1" value="0" list="five_to_five">
<table><tr><td class="alert-danger">Negative</td><td class="alert-success">Positive</td></tr></table>

<h3 class="input-view">{{alertness}}</h3>
<input type="range" ng-model="alertness" min="-5" max="5" step="1" value="0" list="five_to_five"> 
<table><tr><td class="alert-danger">Sleepy</td><td class="alert-success">Alert</td></tr></table>

<datalist id="five_to_five">
<option>-5</option>
<option>-4</option>
<option>-3</option>
<option>-2</option>
<option>-1</option>
<option>0</option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</datalist>

<label>How social have you been today?</label>

<h3 class="input-view">{{social}}</h3>
<input type="range" ng-model="social" min="1" max="7" step="1" value="4" list="one_to_seven">
<table><tr><td class="alert-danger">Not at all social</td><td class="alert-success">Extremely social</td></tr></table>

<datalist id="one_to_seven">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
</datalist>

<button type="submit" class="btn btn-primary">Continue</button>
</form>