<div ng-show="showHome">
	<div id="main-home" ng-show="userExists">
		<div class="jumbotron">
			<h1>Mobilyze</h1>
			<p class="lead">
				For your context sensing needs.
			</p>

			<p><a class="btn btn-lg btn-success" ng-href="#/morning">Morning</a></p>
			<p><a class="btn btn-lg btn-success" ng-href="#/evening">Evening</a></p>
		</div>

		<div class="footer">
			<p><a ng-href="#/mockups"><span class="glyphicon glyphicon-heart"></span></a> from the <a href="http://cbits.northwestern.edu" class="btn btn-primary">CBITs</a> team</p>
		</div>
	</div>
	<div id="user-id-creation" ng-hide="userExists">
		<div class="jumbotron">
			<h1>P20</h1>

			<h2>Please create a user:</h2>
			<form ng-submit="createUser()"><br/>
<h3>User ID</h3>
<input type="text" name="userId"><br/><br/>

<h3>Morning Prompt Time</h3>
<input type="time" name="amprompttime"><br/><br/>

<h3>Evening Prompt Time</h3>
<input type="time" name="pmprompttime"><br/>

				<button type="submit" class="btn btn-primary">Create User Account</button>
			</form>

		</div>
	</div> 
</div>